# Application Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_TYPE=sqlite
DB_DATABASE=db.sqlite
DB_SYNCHRONIZE=false
DB_LOGGING=true
DB_MIGRATIONS_RUN=true
DB_DROP_SCHEMA=false

# Logging Configuration
LOG_LEVEL=info 